body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: lavender;
}
.gameContainer{
	height: 100%;
	width: 100%;
	background-color: lightblue;
	position: relative;
}
.frog{
	height: 20px;
	width: 20px;
	background-color: darkgreen;
	position: absolute;
}

.sidewalk{
	height: 7%;
	background-color: grey;
}
.road{
	height: 40%;
	background-color: black;
}
.river{
	height: 40%;
	background-color: blue;
}
.nestingarea{
	height: 6%;
	background-color: green;
}
.gameZone{
	position: relative;
}

.car{
	background-color: lightgrey;
	border: 1px solid pink;
	box-sizing: border-box;
	position: absolute;
	height: 20px;
	width: 20px;
}





